@import url(reset.css) layer(reset);

body {
  font-size: 1rem;
}

img {
	width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  & .brand {
    font-size: 1rem;
    margin: 0;

    & > a {
      text-decoration: none;
      color: inherit;
    }
  }

  & .nav {
    list-style: none;
    display: flex;
    gap: 0.75rem;
    padding: 0;
    margin: 0 0 0 auto;

    & a {
      color: inherit;
    }
  }
}

.main {
  padding: 0;
  margin-bottom: 4rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
}

ul.list {
	text-decoration: none;
	padding-left: 0;
}

header {
  margin-bottom: 1.2rem;

  & > h2 {
    margin: 0;
  }
}

section {
  margin-bottom: 2rem;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 1rem;
}

fieldset legend,
label {
  display: block;
  margin-bottom: 0.25rem;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
}

textarea {
  resize: none;
}

button {
  padding: 0.25rem 0.5rem;
}

.error {
  color: crimson;
}

.form-inline {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  label {
    display: inline-flex;
    margin-bottom: 0;
  }

  input[type="search"] {
    margin: 0;
    /* border-width: 1px; */
    padding: 0.25rem;
    /* border-radius: 9999px; */
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.gallery-item {
  display: flex;
  gap: 1rem;

  img {
    width: 75px;
  }

  .gallery-item-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p { 
      margin: 0;
    }
  }
}

/* Utilities */
.mb-none { margin-bottom: 0; }
.mt-none { margin-top: 0; }
.mb-lg { margin-bottom: 1.25rem; }
.mb-xl { margin-bottom: 1.5rem; }
.mb-2xl { margin-bottom: 2rem; }
.mb-3xl { margin-bottom: 3rem; }
.mr-sm { margin-right: .5rem; }
.mr { margin-right: 1rem; }
.pt-none { padding-top: 0; }
.gap { gap: 1rem; }
.gap-lg { gap: 1.25rem; }
.gap-xl { gap: 1.5rem; }
.gap-2xl { gap: 2rem; }

.text-danger {
  color: tomato;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.d-flex {
  display: flex;
  align-items: center;
}
