<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Book Store</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/app.css" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body class="container" hx-boost="true">
  <nav class="navbar">
    <h1 class="brand">
      <a href="/">BookStore</a>
    </h1>
    <ol class="nav">
      <li><a href="/books">Books</a></li>
      <li><a href="/authors">Authors</a></li>
    </ol>
  </nav>
  <main class="main">
    <%= @inner_content %>
  </main>
  <footer class="footer">Elixir ♡ HTMX</footer>
</body>

</html>
