<h2>Authors</h2>

<section>
  <ul>
    <%= for author <- @authors do %>
      <li>
        <a href=<%="/authors/#{author.id}" %>>
          <%= author.name %>
        </a>
      </li>
      <% end %>
  </ul>
</section>

<a href="/authors/new">New Author</a>
