<header class="d-flex gap-2xl">
  <h2>Authors</h2>
  <form action="/authors" method="get" class="form-inline">
    <label for="search">Search:</label>
    <input id="search" name="q" type="search" />
  </form>
</header>
<section>
  <ul class="list">
    <%= for author <- @authors do %>
      <li>
        <a href=<%="/authors/#{author.id}" %>>
          <%= author.name %>
        </a>
      </li>
      <% end %>
  </ul>
</section>

<a href="/authors/new">New Author</a>
