<h2>Authors</h2>


<nav>
  <a href="/authors/new">New Author</a>
</nav>
<ul>
  <%= for author <- @authors do %>
    <li>
      <a href=<%="/authors/#{author.id}" %>>
        <%= author.name %>
      </a>
    </li>
    <% end %>
</ul>
