<header>
  <h2><%= @author.name %></h2>
  <small><%= @author.origin %></small>
</header> 
<!-- <img src={@author.picture} /> -->
<p><%= @author.bio %></p>
<p>
  <a href="/authors" class="mr-sm">Back</a>
  <span class="mr-sm">|</span>
  <a href='<%="/authors/#{@author.id}/edit"%>' class="mr-sm">Edit</a>
  <a href='<%="/authors/#{@author.id}/delete"%>' class="text-danger">Delete</a>
</p>
